<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futuro</title>
</head>

<body>
    <h2>Tu futuro según el adivino</h2>
    <p>Soy el adivino del Dojo, <strong>{{nombre}}</strong> tendrá un viaje muy largo dentro de
        <strong>{{numero}}</strong> años a <strong>{{lugar}}</strong> y estará el
        resto de sus días preparando <strong>{{comida}}</strong> para todas las personas que quiere. Cambió de profesión y ahora es <strong>{{profesion}}</strong></p>
</body>

</html>