body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: beige;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h2 {
    color: black;
}

.tabla-paises {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;

}